body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #c9d9e8;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    font-size: 100%;
    background-image: url('https://source.unsplash.com/1600x900/?water,sky');
}
.card {
    background: #00000082;
    color: white;
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 39px;
    width: 39px;
    background-color: #707070;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: white;
    outline: none;
}
button:hover {
    background: #7c7c7cd1;
}

input.search-bar {
    padding: 0.5em 1em;
    border: none;
    border-radius: 15px;
    background: #414040;
    color: white;
    outline: none;
    font-size: 100%;
    font-family: inherit;
    width: calc(100% - 100px);
}
h1.temp {
    margin: 0px;
    margin-bottom: 0.4em;
}
.description {
    text-transform: capitalize;
    
}
.flex {
    display: flex;
    align-items: center;

}
img.icon {
    position: relative;
    left: -8px;
}

.weather.loading {
    visibility: hidden;
    /* max-height: 20px;
    position: relative; */
}

.weather.loading:after {
    visibility: visible;
    content: "Loading ...";
    color: white;
    position: absolute;
    top: 0%;
    left: 20px;
}